.container {
  width: 75%;
  margin: auto;
}

.split-container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .split-container {
    flex-direction: column;
  }

  .container {
    width: 90%;
  }
}

.section-header {
  padding-bottom: 0.5rem;
  border-bottom: 1.5px solid var(--prim-hover-color);
}

/* .section-header h2 {
  color: var(--header-color);
} */

.wb-body {
  background: var(--background-color) !important;
  padding: 1rem;
}

.wb-body div {
  display: flex;
  flex-direction: column;
}

.wb-body h2, .wb-body p {
  margin-bottom: 1rem;
}

.wb-body a {
  color: var(--prim-color);
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }

  50% {
    color: var(--prim-text-color);
  }
}

#bg {
  z-index: -1;
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.seperator {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1.0px solid var(--light-text-color);
}