.project {
  margin: 1rem auto;
}

.project h4 {
  margin-bottom: 0.3rem;
}

.project h4:hover {
  cursor: pointer;
  color: var(--prim-color);
}

.project section:nth-child(2) {
  max-width: 250px;
  max-height: 100px;
}

.project img {
  width: 100%;
  height: 100%;
}